* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 29%, rgba(33,33,51,1) 70%, rgba(49,26,84,1) 100%);
}