@import 'partials/globals', 'partials/responsive', 'partials/typography', 'partials/variables';

h1 {
    color: #f5f5f5;
}

#cancel,
#equal,
[class~=x1],
[class~=symble] {
    color: #000000;
    font-size: 28px;
    padding-inline: 35px;
    font-weight: 600;
}

.calc-container {
    width: 400px;
    padding: 10px;
    background-color: #9593934b;
    border-radius: 5px;
    #output-field {
        height: 80px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        td {
            transition: $transition-1s;
            -webkit-transition: $transition-1s;
            -moz-transition: $transition-1s;
            -o-transition: $transition-1s;
        }
        td:hover,
        #cancel:hover,
        #equal:hover {
            background-color: #1e1e1e;
            color: #f5f5f5;
            transition: $transition-half-second;
            -webkit-transition: $transition-half-second;
            -moz-transition: $transition-half-second;
            -o-transition: $transition-half-second;
        }
        th {
            color: #1e1e1e;
            font-size: 28px;
            text-align: right;
            cursor: default !important;
        }
        tr > td,
        tr > th {
            width: 25%;
            border: 5px solid transparent;
            background: #808080;
            background-clip: padding-box;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}